<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>true</dontWrapJar>
  <headerType>gui</headerType>
  <jar>dist\MED_PROJ_SERVER.jar</jar>
  <outfile>server.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon></icon>
  <classPath>
    <mainClass>srv.ServerForma</mainClass>
    <cp>libs\MED_PROJ_ZAJ.jar</cp>
    <cp>libs\mysql-connector-j-9.5.0</cp>
  </classPath>
  <jre>
    <path>%JAVA_HOME%;%PATH%</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion>17</minVersion>
    <maxVersion></maxVersion>
    <opt>-Denv.lang=en.us=&quot;%LANG=en_US%&quot;</opt>
  </jre>
</launch4jConfig>